<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>jQuery UI Resizable - Default functionality</title>
<link rel="stylesheet" href="/x7/css/ui-lightness/jquery.ui.all.css">
<script src="/x7/scripts/jquery-1.9.1.js"></script>
<script src="/x7/scripts/jquery.ui.core.js"></script>
<script src="/x7/scripts/jquery.ui.widget.js"></script>
<script src="/x7/scripts/ui/jquery.ui.mouse.js"></script>
<script src="/x7/scripts/ui/jquery.ui.resizable.js"></script>
<link rel="stylesheet" href="../css/demos.css">
<style>
#page_wrapper {
	width: 150px;
	height: 150px;
	padding: 0.5em;
}

#page_wrapper h3 {
	text-align: center;
	margin: 0;
}
</style>
<script>
	$(function() {
		$( "#page_wrapper" ).resizable();
	});
 
	
		</script>
</head>
<body>

	<div id="page_wrapper" class="ui-widget-content"></div>


</body>
</html>
