<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript"
	src="http://www.alumay.com/scripts/youtubescript.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>41 TIN SOHBET ODALARI</title>
<link rel="stylesheet" type="text/css" href="themes/default/style.css">
</head>
<div class="message_container">
	<span class="timestamp" data-bind="text: timestamp">7:31 am</span>
	<!-- ko if: source_type != 'system' -->
	<span class="sender" data-bind="text: source_name + ':'">deneme:</span>
	<span id="one_msg" class="message"
		data-bind="html: message, style: { color: color ? '#' + color : '', fontSize: size &gt; 0 ? size + 'px' : '', fontFamily: face ? face : ''}"><div
			class="extracted_url">
			<div class="extracted_thumb" id="extracted_thumb">
				<img src="http://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif"
					width="100" height="100">
			</div>
			<div class="extracted_content">
				<h4>
					<div id="container">
						<a id="containared2"
							href="http://www.youtube.com/watch?v=NQu0OgUUZEU" target="_blank">Ae
							Dil e Nadaan old Song Razia Sultan - YouTube</a>
					</div>
				</h4>
				<p>TR Oturum aç Video Yükle Ara Kapat Dil tercihinizi ayarladık.
					Dil tercihinizi Türkçe olarak ayarladık. Bu tercihi aşağıdan</p>
				<div class="thumb_sel">
					<span class="prev_thumb" id="thumb_prev">&nbsp;</span><span
						class="next_thumb" id="thumb_next">&nbsp;</span>
				</div>
				<span class="small_text" id="total_imgs">22 of 22</span><span
					class="small_text">&nbsp;&nbsp;Choose a Thumbnail</span>
			</div>
		</div></span>
	<!-- /ko -->
	<!-- ko if: source_type == 'system' -->
	<!-- /ko -->
</div>
<div class="message_container">
	<span class="timestamp" data-bind="text: timestamp">7:31 am</span>
	<!-- ko if: source_type != 'system' -->
	<span class="sender" data-bind="text: source_name + ':'">deneme:</span>
	<span id="one_msg" class="message"
		data-bind="html: message, style: { color: color ? '#' + color : '', fontSize: size &gt; 0 ? size + 'px' : '', fontFamily: face ? face : ''}"><div
			class="extracted_url">
			<div class="extracted_thumb" id="extracted_thumb">
				<img src="http://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif"
					width="100" height="100">
			</div>
			<div class="extracted_content">
				<h4>
					<div id="container">
						<a id="containared2"
							href="http://www.youtube.com/watch?v=NQu0OgUUZEU" target="_blank">Ae
							Dil e Nadaan old Song Razia Sultan - YouTube</a>
					</div>
				</h4>
				<p>TR Oturum aç Video Yükle Ara Kapat Dil tercihinizi ayarladık.
					Dil tercihinizi Türkçe olarak ayarladık. Bu tercihi aşağıdan</p>
				<div class="thumb_sel">
					<span class="prev_thumb" id="thumb_prev">&nbsp;</span><span
						class="next_thumb" id="thumb_next">&nbsp;</span>
				</div>
				<span class="small_text" id="total_imgs">22 of 22</span><span
					class="small_text">&nbsp;&nbsp;Choose a Thumbnail</span>
			</div>
		</div></span>
	<!-- /ko -->
	<!-- ko if: source_type == 'system' -->
	<!-- /ko -->
</div>
<div class="message_container">
	<span class="timestamp" data-bind="text: timestamp">7:31 am</span>
	<!-- ko if: source_type != 'system' -->
	<span class="sender" data-bind="text: source_name + ':'">deneme:</span>
	<span id="one_msg" class="message"
		data-bind="html: message, style: { color: color ? '#' + color : '', fontSize: size &gt; 0 ? size + 'px' : '', fontFamily: face ? face : ''}"><div
			class="extracted_url">
			<div class="extracted_thumb" id="extracted_thumb">
				<img src="http://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif"
					width="100" height="100">
			</div>
			<div class="extracted_content">
				<h4>
					<div id="container">
						<a id="containared2"
							href="http://www.youtube.com/watch?v=NQu0OgUUZEU" target="_blank">Ae
							Dil e Nadaan old Song Razia Sultan - YouTube</a>
					</div>
				</h4>
				<p>TR Oturum aç Video Yükle Ara Kapat Dil tercihinizi ayarladık.
					Dil tercihinizi Türkçe olarak ayarladık. Bu tercihi aşağıdan</p>
				<div class="thumb_sel">
					<span class="prev_thumb" id="thumb_prev">&nbsp;</span><span
						class="next_thumb" id="thumb_next">&nbsp;</span>
				</div>
				<span class="small_text" id="total_imgs">22 of 22</span><span
					class="small_text">&nbsp;&nbsp;Choose a Thumbnail</span>
			</div>
		</div></span>
	<!-- /ko -->
	<!-- ko if: source_type == 'system' -->
	<!-- /ko -->
</div>
<div class="message_container">
	<span class="timestamp" data-bind="text: timestamp">7:31 am</span>
	<!-- ko if: source_type != 'system' -->
	<span class="sender" data-bind="text: source_name + ':'">deneme:</span>
	<span id="one_msg" class="message"
		data-bind="html: message, style: { color: color ? '#' + color : '', fontSize: size &gt; 0 ? size + 'px' : '', fontFamily: face ? face : ''}"><div
			class="extracted_url">
			<div class="extracted_thumb" id="extracted_thumb">
				<img src="http://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif"
					width="100" height="100">
			</div>
			<div class="extracted_content">
				<h4>
					<div id="container">
						<a id="containared2"
							href="http://www.youtube.com/watch?v=NQu0OgUUZEU" target="_blank">Ae
							Dil e Nadaan old Song Razia Sultan - YouTube</a>
					</div>
				</h4>
				<p>TR Oturum aç Video Yükle Ara Kapat Dil tercihinizi ayarladık.
					Dil tercihinizi Türkçe olarak ayarladık. Bu tercihi aşağıdan</p>
				<div class="thumb_sel">
					<span class="prev_thumb" id="thumb_prev">&nbsp;</span><span
						class="next_thumb" id="thumb_next">&nbsp;</span>
				</div>
				<span class="small_text" id="total_imgs">22 of 22</span><span
					class="small_text">&nbsp;&nbsp;Choose a Thumbnail</span>
			</div>
		</div></span>
	<!-- /ko -->
	<!-- ko if: source_type == 'system' -->
	<!-- /ko -->
</div>
