   <ul id="nav" data-role="listview" data-inset="true">
            	<li>
            	<input type="text" id="addressTemplate"  value="{{address}}"/>
            	</li>
                <li>
                <input type="text" id="companyNameTemplate" placeholder="{{placeHolderCompany}}">
                </li>
                <li>
                <input type="text" id="telNoTemplate" placeholder="{{telNoTemplate}}">
                </li>
                 <li>
                 <input type="text" id="webTemplate" placeholder="{{webTemplate}}">
                </li>
                 <li>
                 <input type="text" style="display: none;" id="lat" value="{{lat}}">
				 <input type="text" style="display: none;" id="lng" value="{{lng}}">
                </li>
                 <li>
                 		    <button type="button" onclick="setUpCompany();" id="button" 
			     								    style= "padding:5px 0px 5px; margin-left: 10px; margin-top: 2px;
													border: 1px solid #fe766a;
													background-color: #fe766a; 
													 box-shadow: inset 0 1px 3px #fff, inset 0 -15px #fe766a, 0 0 3px #59140f;
													-o-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #fe766a, 0 0 3px #59140f;
													-webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #fe766a, 0 0 3px #59140f;
													-moz-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #fe766a, 0 0 3px #59140f;
													color: #fbd6cd;"
													data-bind="text:buttonLabel"
												    >
										{{setUpCompanyButtonLabel}}
                 			  </button>
                </li>
   </ul>
 

	